<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>이메일 인증 확인</title>
</head>

<body style="BORDER-TOP: 0px; BORDER-RIGHT: 0px; BORDER-BOTTOM: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-RIGHT: 0px">
	<m-ta content="text/html; charset=euc-kr" http-equiv="content-type">

	<table cellspacing="0" cellpadding="0" width="750" border="0">
		<tbody>
			<tr>
				<td height="65" width="750" border="0" cellspacing="0" cellpadding="0">
					<table cellspacing="0" cellpadding="0" width="750" border="0">
						<tbody>
							<tr>
								<td width="172">
								<!-- 홈페이지로 이동하는 이미지 링크  -->
<!-- 									<a href="http://emalltrack.ssg.com:80/5I-118081I-41E-8139428978I-4goaSoZE-8zPqrCF-11219482I-4ehhgE-8D-7D-7DDDD-6zzED-6oCbI-3" name="ANCHOR715258" target="_blank"> -->
<!-- 										<img border="0" alt="GoGo CVS" width="172" align="absMiddle" height="65" src="http://static.ssgcdn.com/ui/common/img/ems_ssg/mailing/h1_01_v.gif" />  -->
<!-- 									</a> -->
								</td>
								<td width="578">&nbsp;</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td>
					<img border="0" alt="회원가입 인증메일 - CVS에 오신 것을 환영합니다. 고객님의 개인정보보호를 위해 인증을 거쳐 회원가입을 하고 있습니다." 
						align="absMiddle" src="http://static.ssgcdn.com/ui/common/img/ems_ssg/mailing/img_certify02.jpg" />
				</td>
			</tr>
			<tr>
				<td>
					<table cellspacing="0" cellpadding="0" width="750" border="0">
						<tbody>
							<tr>
								<td width="45">&nbsp;</td>
								<td width="660">
									<table style="BORDER-TOP: #333 2px solid; TEXT-ALIGN: center" cellspacing="0" cellpadding="0" border="0">
										<tbody>
											<tr>
												<td style="PADDING-TOP: 17px" height="60">
													<font color="#060606" size="2" face="Gulim">회원가입을 하기 위해 아래 이메일 인증하기 버튼을 클릭해주세요.</font>
												</td>
												<td width="10"></td>
											</tr>
											<tr>
												<td height="50"> 
													<a href="%mailAuthUrl%" target="_new">
														<img border="0" alt="이메일 인증하기" width="260" align="absMiddle" height="50" src="http://static.ssgcdn.com/ui/common/img/ems_ssg/mailing/btn_certify.gif" />
													</a>
												</td>
											</tr>
											<tr>
												<td style="BORDER-BOTTOM: #b3b3b3 1px solid; PADDING-BOTTOM: 22px; LINE-HEIGHT: 35px" height="35">
													<font color="#060606" size="2" face="Gulim">인증 유효시간 :</font> 
													<font color="#060606" size="2" face="Gulim"><span id="validDateTime">%validDateTime% </span> %validDateTime% 까지</font>
												</td>
											</tr>
											<tr>
												<td height="40">&nbsp;</td>
											</tr>
											<tr>
												<td></td>
											</tr>
											<tr>
												<td height="37"></td>
											</tr>
											<tr>
												<td style="TEXT-ALIGN: left; LETTER-SPACING: -1px; LINE-HEIGHT: 16px">
													<img border="0" alt="" width="8" align="absMiddle" height="11" src="http://static.ssgcdn.com/ui/common/img/ems_ssg/mailing/bg_dot.gif" />
													<font color="#767676" size="2" face="Gulim">개인정보 보호를 위해 위의 인증 유효시간까지 인증이 완료되지 않으면, 다시 인증을 받으셔야 합니다.</font>
												</td>
											</tr>
											<tr>
												<td style="PADDING-BOTTOM: 100px; TEXT-ALIGN: left; LETTER-SPACING: -1px; LINE-HEIGHT: 16px">
													<img border="0" alt="" width="8" align="absMiddle" height="11" src="http://static.ssgcdn.com/ui/common/img/ems_ssg/mailing/bg_dot.gif" />
													<font color="#767676" size="2" face="Gulim">타인이 고객님의 이메일을 도용했거나, 잘못 수신된 메일이라면 
													<a href="http://www.ssg.com/customer/main.ssg" name="ANCHOR715261" style="COLOR: #767676" target="_blank">CVS 고객센터</a>
													(1544-0000)로 연락 주시기 바랍니다.
													</font>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
								<td width="45">&nbsp;</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<!-- 
			<tr>
				<td height="264">
					<table cellspacing="0" cellpadding="0" width="750" border="0">
						<tbody>
							<tr>
 								<td>
 									<img style="BORDER-TOP: 0px; BORDER-RIGHT: 0px; BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; DISPLAY: block" 
 										alt="footer area" width="750" height="238" usemap="#img_cart4" src="http://static.ssgcdn.com/ui/common/img/ems_ssg/mail/bg_footer.gif" />
 									</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			 -->
		</tbody>
	</table>


	</m-ta>
</body>
</html>